{% extends 'base.html.twig' %}
{% block title %}Pin creation
{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="text-center text-muted">Create Pin</h1>
			{{ include('pins/_form.html.twig', {'submitButtonText':'Create Pin'} ) }}
		</div>
	</div>
{% endblock %}
