{% extends 'base.html.twig' %}
{% block title 'Editing Pin N°' ~ pin.id %}
{% block body %}
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1>Edit Pin N°{{pin.id}}</h1>
			{{ include('pins/_form.html.twig', {'submitButtonText':'Save Pin'}) }}
		</div>
	</div>
{% endblock %}
